<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="LE" class="com.logentries.logback.LogentriesAppender">
        <Debug>False</Debug>
        <Token>${LOGENTRIES_TOKEN}</Token>
        <Ssl>False</Ssl>
        <facility>USER</facility>
        <layout>
            <pattern>%-5level [%thread] %logger{36} - %msg%n</pattern>
        </layout>
    </appender>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%X{akkaTimestamp} %-5level [%thread] %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="LE" />
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>